@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid row">
    <nav>
        <img src="~/images/logo.svg" alt="Lagos Free Zone" class="logo">
        <h2>Permit to Work</h2>
        <img src="~/images/profile.png" alt="Profile Picture" class="profile-pic">
    </nav>
    <div class="col-md-3">
        <div class="sidebar">
            <ul class="nav flex-column align-items-lg-stretch">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="~/images/Action.svg" class="menu-image" >Action Taken
                        <img src="~/images/drop.svg" class="drop-image">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">  
                        <img src="~/images/asset.svg" class="menu-image">Incident Management
                        <img src="~/images/drop.svg" class="drop-image">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">  
                        <img src="~/images/asset.svg" class="menu-image">Asset Management 
                        <img src="~/images/drop.svg" class="drop-image">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="~/images/list.svg" class="menu-image">List of Values
                        <img src="~/images/drop.svg" class="drop-image">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">  
                        <img src="~/images/permit.svg" class="menu-image">Job Portal
                        <img src="~/images/drop.svg" class="drop-image">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="~/images/data.svg" class="menu-image">Data Collection
                        <img src="~/images/drop.svg" class="drop-image">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#"> 
                        <img src="~/images/permit.svg" class="menu-image">Permit to Work
                        <img src="~/images/drop.svg" class="drop-image">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">  <img src="~/images/ppe.svg" class="menu-image">PPE Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <img src="~/images/safety.svg" class="menu-image">Safety Observation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">  <img src="~/images/fire.svg" class="menu-image">Fire Safety</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">  <img src="~/images/fire.svg" class="menu-image">Emergency Preparedness</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}