@{
    ViewData["Title"] = "Home Page";
}

<div class="card mx-auto mt-5" style="max-width: 400px;">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Sign Up</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <form>
                    <div class="form-group">
                        <label for="loginEmail">Email address</label>
                        <input type="email" class="form-control" id="loginEmail" required>
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">Password</label>
                        <input type="password" class="form-control" id="loginPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
            <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                <form>
                    <div class="form-group">
                        <label for="signupFirstName">First Name</label>
                        <input type="text" class="form-control" id="signupFirstName" required>
                    </div>
                    <div class="form-group">
                        <label for="signupLastName">Last Name</label>
                        <input type="text" class="form-control" id="signupLastName" required>
                    </div>
                    <div class="form-group">
                        <label for="signupEmail">Email address</label>
                        <input type="email" class="form-control" id="signupEmail" required>
                    </div>
                    <div class="form-group">
                        <label for="signupPassword">Password</label>
                        <input type="password" class="form-control" id="signupPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="signupConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="signupConfirmPassword" required>
                        <small id="passwordHelp" class="form-text text-muted"></small>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#login-tab').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            $('#signup-tab').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            $('#signupPassword, #signupConfirmPassword').on('input', function () {
                var password = $('#signupPassword').val();
                var confirmPassword = $('#signupConfirmPassword').val();

                if (password !== confirmPassword) {
                    $('#passwordHelp').text("Passwords do not match!").css('color', 'red');
                } else {
                    $('#passwordHelp').text("Passwords match.").css('color', 'green');
                }
            });

        });
    </script>
}
