
.form-body {
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #f8f9fa;
    padding: 15px;
    border-right: 1px solid #ddd;
    height: 100vh;
}

    .sidebar .logo {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .sidebar .nav-link {
        color: #333;
    }

        .sidebar .nav-link.active {
            font-weight: bold;
        }

.content {
    padding: 20px;
}

    .content h2 {
        margin-bottom: 20px;
    }

.nav-tabs {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 5%;
}

.btn {
    margin-right: 10px;
}

.control-label {
    position: absolute;
    background: white;
    padding: 0.1rem 0.25rem;
    color: #666;
    pointer-events: none;
    transition: 0.3s;
    font-size: 1rem;
    margin-top: -0.9rem;
}

.form-control {
    padding-top: 1.5rem;
    padding-bottom: 0.25rem;
}

    .form-control[readonly] {
        background-color: white; /* or any color you prefer */
        opacity: 1;
    }
#workActivityDescription {
    padding-bottom: 4rem;
}

.nav-link.active {
    color: #060270 !important;
    /*background-color: #007bff !important;*/
}

.rounded-item {
    border: 5px solid #ced4da; /* Add your border color */
    border-radius: 10px; /* Adjust the border-radius for the desired roundness */
    padding: 10px; /* Add padding for better appearance */
}
