
.form-body {
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #f8f9fa;
    padding: 15px;
    border-right: 1px solid #ddd;
    height: 100vh;
}

    .sidebar .logo {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .sidebar .nav-link {
        color: #333;
    }

        .sidebar .nav-link.active {
            font-weight: bold;
        }

.content {
    padding: 20px;
}

    .content h2 {
        margin-bottom: 20px;
    }

.nav-tabs {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 5%;
}

.btn {
    margin-right: 10px;
}

.control-label {
    position: absolute;
    background: white;
    padding: 0.1rem 0.25rem;
    color: #666;
    pointer-events: none;
    transition: 0.3s;
    font-size: 1rem;
    margin-top: -0.9rem;
}

.form-control {
    padding-top: 1.5rem;
    padding-bottom: 0.25rem;
}

    .form-control[readonly] {
        background-color: white; /* or any color you prefer */
        opacity: 1;
    }
#workActivityDescription {
    padding-bottom: 4rem;
}

.nav-link.active {
    color: #060270 !important;
    /*background-color: #007bff !important;*/ 
}

.rounded-item {
    border: 5px solid #ced4da; 
    border-radius: 10px; 
    padding: 10px; 
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
    color: black;
}

    nav img.logo {
        height: 40px;
    }

    nav h3 {
        margin: 0;
        font-size: 1.5em;
    }

    nav img.profile-pic {
        height: 40px;
        border-radius: 50%;
    }
img.menu-image {
    height: 20px;
    margin-right: 10px; /* Adds space between the image and the text */
}

img.drop-image {
    /*height: 20px;*/
    position: absolute;
    right: 76%;
    top: auto;
    padding-top: 0.5rem;
    /*margin-left: auto;*/
}

.logo {
    height : 15%;
    width : 15%;
}

.nav-link {
    width: inherit;
    padding: 0rem .5rem 0rem 0rem;
}