
.form-body {
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #f8f9fa;
    padding: 15px;
    border-right: 1px solid #ddd;
    height: 100vh;

}

    .sidebar .logo {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .sidebar .nav-link {
        color: #333;
        justify-content: space-between;
    }

        .sidebar .nav-link.active {
            font-weight: bold;
        }

.content {
    padding: 20px;
}

    .content h2 {
        margin-bottom: 20px;
    }

.nav-tabs {
    margin-bottom: 20px;
}



.btn {
    margin-right: 10px;
}

.control-label {
    position: absolute;
    background: white;
    padding: 0.1rem 0.25rem;
    color: #666;
    pointer-events: none;
    transition: 0.3s;
    font-size: 1rem;
    margin-top: -0.9rem;
}

.form-control {
    padding-top: 1.5rem;
    padding-bottom: 0.25rem;
}

    .form-control[readonly] {
        background-color: white; /* or any color you prefer */
        opacity: 1;
    }
#workActivityDescription {
    padding-bottom: 4rem;
}

.nav-link.active {
    color: #060270 !important;
    /*background-color: #007bff !important;*/ 
}

.rounded-item {
    border: 5px solid #ced4da; 
    border-radius: 10px; 
    padding: 10px; 
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
    color: black;
}

    nav img.logo {
        height: 40px;
    }

    nav h3 {
        margin: 0;
        font-size: 1.5em;
    }

    nav img.profile-pic {
        height: 40px;
        border-radius: 50%;
    }
img.menu-image {
    height: 20px;
    margin-right: 10px; /* Adds space between the image and the text */
}

img.drop-image {
    /*height: 20px;*/
    position: absolute;
    right: 74%;
    top: auto;
    padding-top: 0.5rem;
    /*margin-left: auto;*/
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
}

    .active-menu {
        background-color: darkblue !important;
        border-color: darkblue !important;
        color: white;
    }

.logo {
    height : 15%;
    width : 15%;
}

.form-group1 {
    margin-bottom: 5%;
}

.nav-link {
    width: inherit;
    /*padding: 0rem .5rem 0rem 0rem;*/
    background-color: white;
    border: solid 1px rgb(0, 0, 0, 0.1);
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
}

.nav-items {
    margin-bottom: 80%;
}

.assess {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2% 0% 2% 0;
}
.assess label {
    margin-left: 15px;
}

.form-check-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-check {
    display: inline-flex;
    align-items: center;
}

.spacer-yes {
    position: absolute;
    right: 15%;
}

.spacer-no {
    position: absolute;
    right: 11%;
}

.form-group.assess label {
    white-space: normal; /* Allows the text to wrap */
    max-width: calc(100% - 120px);
    /*margin-bottom: 10px;*/ /* Adds some space between the label and the radio buttons */
}

.form-table {
    border: solid 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-bottom: 25px;
    
}

.odd {
    background-color: #f8f9fa;
}

.even {
    background-color: rgba(0, 100, 255, 0.1);
}

#otherPPE {
    width: 50%;
    height: auto;
    margin-top: 5px;
}

.custom-checkbox input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
}

.list-items {
    margin-left: 15px;
}

.form-section {
    margin: 20px 0;
}

.form-section label {
    display: block;
    margin-bottom: 10px;
}

.form-section input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

select {
    width: 30%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: solid 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    gap: 10px;
}
